@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2ea043;
  --color-secondary: #1f6feb;
  --color-accent: #58a6ff;
  --color-bg-main: #0d1117;
  --color-bg-card: #161b22;
}

body {
  background-color: var(--color-bg-main);
  color: #e6edf3;
}
